{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Type</th>
                <th>Modele</th>
                <th>Prix</th>
                <th>Carte_grise</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.matricule }}</td>
                <td>{{ vehicule.type }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.prix }}</td>
                <td>{{ vehicule.carteGrise }}</td>
                <td>{{ vehicule.status }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'matricule': vehicule.matricule}) }}">show</a>
                    <a href="{{ path('app_vehicule_edit', {'matricule': vehicule.matricule}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_new') }}">Create new</a>
{% endblock %}
