{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Matricule</th>
                <td>{{ vehicule.matricule }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vehicule.type }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vehicule.prix }}</td>
            </tr>
            <tr>
                <th>Carte_grise</th>
                <td>{{ vehicule.carteGrise }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ vehicule.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_index') }}">back to list</a>

    <a href="{{ path('app_vehicule_edit', {'matricule': vehicule.matricule}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
