{% extends 'base.html.twig' %}

{% block title %}Immobilier{% endblock %}

{% block body %}
    <h1>Immobilier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_fiscal</th>
                <td>{{ immobilier.idFiscal }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ immobilier.adresse }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ immobilier.type }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ immobilier.superficie }}</td>
            </tr>
            <tr>
                <th>Titre_prop</th>
                <td>{{ immobilier.titreProp }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ immobilier.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_immobilier_index') }}">back to list</a>

    <a href="{{ path('app_immobilier_edit', {'id_fiscal': immobilier.id_fiscal}) }}">edit</a>

    {{ include('immobilier/_delete_form.html.twig') }}
{% endblock %}
